In [128]:
import pandas as pd
import numpy as np

# Read dataset

In [129]:
pymarket = pd.read_csv('../datasets/pymarket.csv')
pymarket.head()

        dates     Tom     Joe  Charlie
0  10/16/2016  131.10   18.78   210.34
1  10/17/2016  459.13  424.17   176.03
2  10/18/2016  338.39  376.78   334.06
3  10/19/2016  361.32  349.26   456.03
4  10/20/2016   25.39  434.77   462.00

### 1) How much Tom has expend in the market
return a value

In [130]:
# Answer 1
pymarket['Tom'].sum()

222564.53

### 2) Total and mean of Tom and Joe expenses  
return a dataframe

In [131]:
pymarket[['Tom','Joe']].agg(['sum', 'mean'])

                Tom           Joe
sum   222564.530000  214566.86000
mean     244.307936     237.61557

### 3) Which are the days in which the friends expensed more than $100 together  
return series

In [132]:
pymarket.loc[pymarket.sum(axis=1) > 100]['dates'].head() #just print first 5 elements

0    10/16/2016
1    10/17/2016
2    10/18/2016
3    10/19/2016
4    10/20/2016
Name: dates, dtype: object

### 4) Which are the days in wich the friends didnt go to the market, any of them
return list of string of dates

In [133]:
# first convert datime to index, to work better
pymarket2 = pymarket.set_index('dates')
pymarket2.head(3)

               Tom     Joe  Charlie
dates
10/16/2016  131.10   18.78   210.34
10/17/2016  459.13  424.17   176.03
10/18/2016  338.39  376.78   334.06

In [134]:
pymarket2.loc[pymarket2.isnull().all(axis=1)].index.tolist()[:5] # just print 5

['10/30/2016', '11/5/2016', '12/11/2016', '12/18/2016', '12/21/2016']

### 5) Who spent more than the others and who spent less
return tuple of the names,(max,min)

In [135]:
(pymarket2.max().idxmax(),pymarket2.min().idxmin())

('Tom', 'Joe')

### 6) Who was the guy that visit the market more frecuently
return the name (string)

In [136]:
pymarket2.count().idxmax()

'Charlie'

### 7) On average, who spends  more every bi-weekly?
return a name (str)

In [137]:
#convert index to timestamp
pymarket['dates']= pd.to_datetime(pymarket['dates']) 
pymarket.iloc[0].dates

Timestamp('2016-10-16 00:00:00')

In [138]:
pymarket.head(3)

       dates     Tom     Joe  Charlie
0 2016-10-16  131.10   18.78   210.34
1 2016-10-17  459.13  424.17   176.03
2 2016-10-18  338.39  376.78   334.06

In [139]:
# create grouper
grouper = pd.Grouper(key='dates', freq='SM')

In [140]:
pymarket.groupby(grouper).sum().mean().idxmax()

'Charlie'

### 8) Which are the dates in which each friend spends less than $10  
returns a list of dates

In [141]:
pymarket2 = pymarket.set_index('dates')
pymarket2.head(3)

               Tom     Joe  Charlie
dates
2016-10-16  131.10   18.78   210.34
2016-10-17  459.13  424.17   176.03
2016-10-18  338.39  376.78   334.06

In [142]:
pymarket[(pymarket.Tom < 10) & (pymarket.Joe < 10) & (pymarket.Charlie < 10)]['dates'].astype(str).tolist()

['2016-11-17',
 '2017-02-11',
 '2017-03-11',
 '2017-04-03',
 '2017-07-03',
 '2017-08-18',
 '2017-09-09',
 '2017-10-03',
 '2018-01-22',
 '2018-02-02',
 '2018-03-28',
 '2018-04-25',
 '2018-07-26',
 '2018-09-28',
 '2018-10-03',
 '2018-11-23',
 '2018-12-06',
 '2018-12-19',
 '2019-02-06',
 '2019-02-22',
 '2019-03-24']

### 9) Create a new column called 'Tips' and calculate the total amount payed by tips for all friends
Our friends usually pay tips to the market. The value of tip is the value that rounds the total cost by person.
Example, if Tom pays $8.3, then the tip will be $0.7  
Return a dataframe

In [143]:
pymarket['Tips'] = 0
pymarket.head(3)

       dates     Tom     Joe  Charlie  Tips
0 2016-10-16  131.10   18.78   210.34     0
1 2016-10-17  459.13  424.17   176.03     0
2 2016-10-18  338.39  376.78   334.06     0

In [144]:
pymarket9 = pymarket.fillna(0)

In [145]:
pymarket9['Tips'] = pymarket9.apply(lambda row: (row.Tom - int(row.Tom)) + (row.Joe - int(row.Joe)) + (row.Charlie - int(row.Charlie)), axis=1)

In [146]:
pymarket9

         dates     Tom     Joe  Charlie  Tips
0   2016-10-16  131.10   18.78   210.34  1.22
1   2016-10-17  459.13  424.17   176.03  0.33
2   2016-10-18  338.39  376.78   334.06  1.23
3   2016-10-19  361.32  349.26   456.03  0.61
4   2016-10-20   25.39  434.77   462.00  1.16
5   2016-10-21  181.40   66.56   448.09  1.05
6   2016-10-22  348.83   65.75   277.36  1.94
7   2016-10-23  128.45  259.85   466.54  1.84
8   2016-10-24  209.89   69.28   440.32  1.49
9   2016-10-25  455.62  211.44   442.32  1.38
10  2016-10-26  153.31  375.98   242.87  2.16
11  2016-10-27   41.23   81.32   349.58  1.13
12  2016-10-28  104.30    1.17    29.83  1.30
13  2016-10-29  233.28  307.79   223.90  1.97
14  2016-10-30    0.00    0.00     0.00  0.00
15  2016-10-31  157.89  307.97    10.94  2.80
16  2016-11-01  368.54    9.53   102.79  1.86
17  2016-11-02   12.63  109.49   370.30  1.42
18  2016-11-03  274.58   26.76   184.61  1.95
19  2016-11-04  178.88  124.60   456.79  2.27
20  2016-11-05    0.00    0.00     0.00  0.00
21  2016-11-06  460.23  344.74   418.06  1.03
22  2016-11-07  403.20  285.98   233.88  2.06
23  2016-11-08  158.18  305.76   468.17  1.11
24  2016-11-09  363.91  101.18   221.77  1.86
25  2016-11-10  200.13  328.89    76.88  1.90
26  2016-11-11  428.24    2.88   182.16  1.28
27  2016-11-12  497.72  262.48   153.21  1.41
28  2016-11-13  389.42   74.77    88.80  1.99
29  2016-11-14   92.34  168.19   167.65  1.18
..         ...     ...     ...      ...   ...
970 2019-06-13  311.78    5.26     3.52  1.56
971 2019-06-14  157.37  468.57    44.08  1.02
972 2019-06-15  195.87  222.85   161.27  1.99
973 2019-06-16  344.79  467.53    26.93  2.25
974 2019-06-17  143.22    1.32   411.28  0.82
975 2019-06-18   69.65  420.70   428.96  2.31
976 2019-06-19  398.69  163.99   276.66  2.34
977 2019-06-20  310.73  227.47   457.39  1.59
978 2019-06-21  378.81  312.96   184.83  2.60
979 2019-06-22   74.74  414.82   341.24  1.80
980 2019-06-23    0.00   99.15   377.06  0.21
981 2019-06-24   71.97  199.30   288.33  1.60
982 2019-06-25  157.27  183.28   113.49  1.04
983 2019-06-26   78.37   83.82    91.36  1.55
984 2019-06-27  215.51  394.01    57.74  1.26
985 2019-06-28  251.73   32.60   289.52  1.85
986 2019-06-29  393.24  230.69    61.20  1.13
987 2019-06-30  260.72   51.13   291.13  0.98
988 2019-07-01  294.60   34.66   238.48  1.74
989 2019-07-02  122.78  469.04   285.05  0.87
990 2019-07-03  452.16  213.34   498.00  0.50
991 2019-07-04  314.13   94.47   388.74  1.34
992 2019-07-05  382.18  207.68    17.52  1.38
993 2019-07-06  395.15  295.30    62.83  1.28
994 2019-07-07  320.64  393.05    41.22  0.91
995 2019-07-08  366.55  416.76    32.36  1.67
996 2019-07-09  418.34  418.81    75.58  1.73
997 2019-07-10    0.00   44.85    16.90  1.75
998 2019-07-11  196.39    0.00   459.70  1.09
999 2019-07-12  443.68  364.01   306.67  1.36

[1000 rows x 5 columns]

### 10)  Find out how much Tom and Charlie could have saved in total if the discount system were available when they started buy in Pymarket
The Pymarket  has decided to implement discounts system. Now for each purchase someone made in which spend more than $ 100, that person will receive a 7% discount  
return tuple of the save amount of money (Tom,Charlie)

In [147]:
tom = pymarket['Tom']
charlie = pymarket['Charlie']

In [155]:
charlie_save = charlie[charlie > 100].apply(lambda row : row*0.07).sum()

In [154]:
tom_save = tom[tom > 100].apply(lambda row : row*0.07).sum()

In [156]:
(tom_save,charlie_save)

(14934.064600000002, 15709.092)