In [1]:
import pandas as pd
import numpy as np

# Read dataset

In [5]:
pymarket = pd.read_csv('../datasets/pymarket.csv')
pymarket.head()

        dates     Tom     Joe  Charlie
0  10/16/2016  131.10   18.78   210.34
1  10/17/2016  459.13  424.17   176.03
2  10/18/2016  338.39  376.78   334.06
3  10/19/2016  361.32  349.26   456.03
4  10/20/2016   25.39  434.77   462.00

### 1) How much Tom has expend in the market
return a value

In [12]:
# Answer 1
pymarket['Tom'].sum()

222564.53

### 2) Total and mean of Tom and Joe expenses  
return a dataframe

In [13]:
pymarket[['Tom','Joe']].agg(['sum', 'mean'])

                Tom           Joe
sum   222564.530000  214566.86000
mean     244.307936     237.61557

### 3) Which are the days in which the friends expensed more than $100 together  
return series

In [46]:
pymarket.loc[pymarket.sum(axis=1) > 100]['dates'].head() #just print first 5 elements

0    10/16/2016
1    10/17/2016
2    10/18/2016
3    10/19/2016
4    10/20/2016
Name: dates, dtype: object

### 4) Which are the days in wich the friends didnt go to the market, any of them
return list of string of dates

In [60]:
# first convert datime to index, to work better
pymarket2 = pymarket.set_index('dates')
pymarket2.head(3)

               Tom     Joe  Charlie
dates
10/16/2016  131.10   18.78   210.34
10/17/2016  459.13  424.17   176.03
10/18/2016  338.39  376.78   334.06

In [90]:
pymarket2.loc[pymarket2.isnull().all(axis=1)].index.tolist()[:5] # just print 5

['10/30/2016', '11/5/2016', '12/11/2016', '12/18/2016', '12/21/2016']