In [1]:
import pandas as pd
import numpy as np

# Read dataset

In [2]:
pymarket = pd.read_csv('pymarket.csv')
pymarket.head()

        dates     Tom     Joe  Charlie
0  10/16/2016  131.10   18.78   210.34
1  10/17/2016  459.13  424.17   176.03
2  10/18/2016  338.39  376.78   334.06
3  10/19/2016  361.32  349.26   456.03
4  10/20/2016   25.39  434.77   462.00

### 1) How much Tom has expend in the market
return a value

In [3]:
# Answer

### 2) Total and mean of Tom and Joe expenses  
return a dataframe

In [4]:
# Answer

### 3) Which are the days in which the friends expensed more than $100 together  
return series

In [5]:
# Answer